<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow using your microphone to send audio messages and videos with voice</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow using your camera to take pictures and videos</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The data will be used to present more accurate content</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>The app uses information for more accurate content</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1098365330663-jbm19t6ksg5o9jh9b0u26a3c8a5rkh2r</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Black.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
